<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>QnA Forum</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#D7E6E3] min-h-screen flex items-center justify-center font-mono">

    <div class="bg-[#FAF7EC] rounded-2xl shadow-2xl px-10 py-14 text-center border border-[#24404E]">
    <h2 class="text-3xl font-bold mb-5 text-[#24404E]">
        Thanks for your <span class="text-[#E8593A]">Feedback</span>
    </h2>
    <p class="text-[#24404E] mb-8 text-lg"> Your Response will only be recorded when your reputation is atleast 15.</p>
    <a href="https://stackoverflow.com/help/whats-reputation" target="_blank" class="inline-flex items-center mt-4 ml-10 px-2 py-2 bg-[#E8593A] text-white rounded hover:bg-[#24404E] hover:text-[#E8593A] transition font-semibold border border-black"> How to increase Reputation?
    </a>
    
</div>


</body>
</html>
